<% layout("/layout/boilerplate") %>
    <h1 class="container">hey amit these is the homepage</h1>
    <img src="https://www.seekpng.com/png/full/137-1379498_work-in-progress.png" class="img-fluid mx-auto" alt="">