<nav class="navbar navbar-expand-lg navbar-dark bg-dark my-0">
    <a class="navbar-brand" href="http://localhost:3000/home">Vguide</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-link active" href="http://localhost:3000/place/">places <span
                    class="sr-only">Vguide</span></a>
            <a class="nav-link  active" href="http://localhost:3000/place/add">addplace</a>
            <a class="nav-link  active" href="http://localhost:3000/city">cities</a>
            <a class="nav-link  active " href="http://localhost:3000/city/new">addcities</a>

        </div>
        <style>
            .avatar{border-radius:50%;border:2px solid white; 
  
        
                
            }
        </style>
      

        <nav class="navbar ml-auto ">
            <form class="form-inline">
                <form class="form-inline mx-2"  action="http://localhost:3000/place/search"  method="post">
                    <input class="form-control mr-sm-2" type="input" placeholder="Search places" name="search" >
                    <button class="btn btn-sm btn-outline-info my-2 my-sm-0 " type="submit"><b>Search</b></button>
                  </form>
                <% if (!currentUser) { %>

                    <a class="btn btn-sm btn-success mx-1" href="/login">login</a>
                    <a class="btn btn-sm btn-secondary mx-1" href="/register">register</a>
                    <% } %>
                        <% if(currentUser){ %>
                            <% if (currentUser.avatar) { %>
                             
                           
                            <a href="/profile"><img src="<%=currentUser.avatar%>" alt="profile" class="avatar mx-2" width="50px" height="100%"></a>
                            <% } %>
                            <a class="btn btn-sm btn-danger mx-1" href="/logout">logout</a>
                            <% } %>

            </form> 
        </nav>
</div>
</nav>